.main__home-container {
  /*  width: 100vw;
  height: calc(100vh - 96px); */
  width: 100vw;
  height: calc(100vh - 96px);
  background-color: #212121;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  padding: 50px 0px;
}/*listo*/

/* .main__title {
} */

.main__map {
  background-color: red;
  /* width: 400px;
  height: 288px; */
  width: 400px;
  height: 144px;
  border-radius: 10px;
  box-shadow: 0 6px 6px rgba(0, 0, 0, 0.2);
  margin-bottom: 15px;
}/*listo*/

.main__data-container {
  background-color: #4d4d4d;
  /*  width: 400px;
  height: 288px; */
  /* width: 400px; */
  height: auto;
  border-radius: 10px;
  border-left: 2px solid red;
  box-shadow: 0 6px 6px rgba(0, 0, 0, 0.2);
  font-size: 16px;
  padding-bottom: 12px;
}/*listo*/

.main__vehicle-number {
  background-color: #1b1b1b;
  padding: 17px;
  display: inline-block;
  border-radius: 10px;
  margin-top: 4px;
  margin-left: 4px;
}/*listo*/

.main__vehicle-sensor-container {
  display: flex;
  flex-direction: column;
  background-color: rgba(217, 217, 217, 0.1);
  border-radius: 10px;
  padding: 10px;
  border: 2px black solid;
  margin: 10px 10px;
}/*listo*/

.main__vehicle-sensor-container:last-child {
  margin-bottom: 0px;
}/*REVISAR*/

.main__sensor {
  margin-top: 5px;
  margin-bottom: 10px;
}/*listo*/

.main__sensor-data {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}/*listo*/

.main__sensor-data li {
  margin-bottom: 10px;
  margin-left: 20px;
}/*listo*/

.main__sensor-data li:last-child {
  margin-bottom: 0px;
}/*listo*/

.main__sensor-type {
  display: flex;
  align-items: center;
}/*listo*/

.main__sensor-status {
  padding: 17px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1b1b1b;
  border-radius: 10px;
  height: 34px;
  margin-left: 10px;
}
