.map-container {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  height: 100vh;
}

.map__description {
  height: auto;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.map__description div {
  height: 30px;
  display: flex;
  align-items: center;
}

.vehicle-info {
  margin-bottom: 30px;
}

#id {
  height: 60%;
}

.map-container {
  width: 500px;
  height: 500px;
}
